* {
    margin:0;
    padding:0;
}

a {
    margin-right: 2rem;
}

.header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.register, .login {
    width:40%;
    height: 100%;
}

.table_container{
    margin-top: 5rem;
}
